
@{
    ViewData["Title"] = "Push_Darwinbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="js-page-content" role="main" class="page-content">





    <div class="row">

        <div class="col-xl-12">
            <div id="panel-2" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Bind Active Employee<span class="fw-300"><i>Details</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>




                <div class="panel-container show">
                    <div class="panel-content">

                        <div class="tab-pane" id="tab-events" role="tabpanel">
                            <div class="d-flex flex-column h-100">
                                <div class="h-auto">
                                    <table id="example1" class="table table-bordered table-hover table-striped w-100">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>


    <div class="modal fade" id="modal-Tracking">
        <div class="modal-dialog modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee Details (<strong><span id="txtuniqueid" name="txtuniqueid"></span></strong>)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fal fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="js-updateemailid">
                        <div class="frame-wrap">
                            <div class="panel-content">



                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">
                                    <div class="form-row">

                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">First Name</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="Firstname" autocomplete="off" name="Firstname" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Middle Name</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="middlename" autocomplete="off" name="middlename" readonly="readonly">

                                        </div>


                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Last Name</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="lastname" autocomplete="off" name="lastname" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Group Company</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtgroupname" autocomplete="off" name="txtgroupname" readonly="readonly">

                                        </div>
                                       
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Cost Center</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtcostcenter" autocomplete="off" name="txtcostcenter" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Functional Area(Dept)</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtfunctionalareadept" autocomplete="off" name="txtfunctionalareadept" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Functional Area(SubDept)</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtfunctionalareasubdept" autocomplete="off" name="txtfunctionalareasubdept" readonly="readonly">

                                        </div>


                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Designation</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtdesignation" autocomplete="off" name="txtdesignation" readonly="readonly">

                                        </div>
                                       
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Grade</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtgrade" autocomplete="off" name="txtgrade" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Email Id</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtemailid" autocomplete="off" name="txtemailid" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">

                                            <label for="validationCustom02">Password</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control input-sm" id="txtpassword" autocomplete="off" name="txtpassword" readonly="readonly">

                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <br />
                                            <button type="submit" class="btn btn-primary" onclick="AddEmailiupdatein_Darwinbox()" id="addicd">Update Email Id</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>





    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/Action_JS/JS.js"></script>

    <script type='text/javascript'>
        var totalList = [];
        var iterms = "";
        $(document).ready(function () {
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            var cid = params['id'];

            BindEmpdetails(cid);

        });

        function AddEmailiupdatein_Darwinbox1() {
            // Ensure this function runs when the DOM is fully loaded

            $('#js-updateemailid').validate({
                rules: {
                    txtemailid: {
                        required: true,
                        email: true // Optional: Validate the email format
                    }
                },
                messages: {
                    txtemailid: "Please enter a valid email address" // Example message
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.next("label"));
                    } else {
                        error.insertAfter(element.next(".pmd-textfield-focused"));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-invalid").removeClass("is-valid");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).addClass("is-valid").removeClass("is-invalid");
                },
                submitHandler: function (form) {
                    // Optionally show a spinner or loading indicator
                    // $('.spinner').css('display', 'block').fadeIn();

                    $.ajax({
                        url: "/DB_View/Update_EmailIDAsync",
                        type: 'POST',
                        dataType: 'json', // Expecting JSON response
                        contentType: 'application/json; charset=utf-8', // Sending JSON data
                        data: JSON.stringify({
                            UniqueID: $("#txtuniqueid").val(),
                            EmailId: $("#txtemailid").val()
                        }),
                        success: function (data) {
                            if (data.Flag === 'SUCCESS') {
                                // Handle success scenario
                                // e.g., display a success message or redirect
                            } else {
                                // Handle failure scenario
                                createRoleSuccess(data.Flag, data.sql_message);
                                // $('.spinner').css('display', 'block').fadeOut();
                            }
                        },
                        error: function (xhr, status, error) {
                            // Handle AJAX error
                            console.error('AJAX Error:', status, error);
                            // Optionally hide the spinner
                            // $('.spinner').css('display', 'block').fadeOut();
                        }
                    });

                }
            });

        }
        function BindDataForEmailupdate(Eid) {


            $('#modal-Tracking').modal('show');

            //Bind control data bind data for email update in DB---------------------------
            $.ajax({
                type: "GET",
                url: "/DB_View/get_active_emp_recordsbyID",

                data: { UniqueID: "" + Eid + "" },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                crossDomain: true,
                success: function (Data) {


                    var build_table = '';
                    for (var index = 0; index < Data.length; index++) {


                        $("#Firstname").val(Data[index].fname);
                        $("#middlename").val(Data[index].mname);
                        $("#lastname").val(Data[index].lname);
                        $("#txtgroupname").val(Data[index].group_company);
                        $("#txtcostcenter").val(Data[index].department_cost_center_name);
                        $("#txtdesignation").val(Data[index].job_level);
                        
                        $("#txtfunctionalareadept").val(Data[index].functional_area_dept);
                        $("#txtfunctionalareasubdept").val(Data[index].functional_area_subdept);
                        $("#txtgrade").val(Data[index].level_Grade);
                        $("#txtuniqueid").text(Data[index].userUniqueID);
                        $("#txtemailid").val(Data[index].itemailcreated);
                        $("#txtpassword").val(Data[index].itemailpassword);

                        
                    }
                }
            });

            //End email id  function update--------------------------------------------

        }
        function BindEmpdetails() {
            $.ajax({
                url: "/DB_View/get_active_emp_records",
                type: "GET",
                data: {
                    UniqueID: "52XiXUD6+s45Y2o+i7OWzo7qLXma2Rui3buSWJ56A7Q="
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    /*     console.log(data); // Log the data to inspect*/

                    if (Array.isArray(data) && data.length > 0) {
                        // Destroy the existing DataTable instance if it exists
                        if ($.fn.DataTable.isDataTable('#example1')) {
                            $('#example1').DataTable().clear().destroy();
                        }
                        // Initialize DataTable with new data
                        $('#example1').DataTable({
                            responsive: true,
                            processing: true,
                            data: data,
                            columns: [

                                {
                                    data: null,
                                    title: 'Action',
                                    render: function (data, type, row) {
                                        // Ensure UserUniqueID exists in the row data
                                        if (row.userUniqueID) {
                                            return '<a href="#" class="edit-link" data-id="' + row.userUniqueID + '">Edit</a>';
                                        } else {
                                            return '<span>No ID</span>'; // Fallback if UserUniqueID is not present
                                        }
                                    }
                                },
                                { data: 'fullname', title: 'Full Name' },
                                { data: 'group_company', title: 'Group Company' },
                                { data: 'department_cost_center_name', title: 'Cost Center' },
                                
                                { data: 'functional_area_dept', title: 'Functional Area(Dept)' },
                                { data: 'level_Grade', title: 'Grade' },
                                { data: 'employee_id', title: 'Employee ID' },
                                { data: 'office_mobile_no', title: 'Mobile Number' },
                                { data: 'company_email_id', title: 'Email' },
                                { data: 'direct_manager_name', title: 'RM' },
                                { data: 'hrbp_name', title: 'HRBP Name' },
                                { data: 'office_location', title: 'Office Location' },
                            ]
                        });

                        // Handle click event on "Edit" link
                        $('#example1').on('click', '.edit-link', function (e) {
                            e.preventDefault();
                            var id = $(this).data('id'); // Correct data attribute name
                            BindDataForEmailupdate(id);
                            // Replace the following line with your edit logic, e.g., opening a modal or redirecting
                            /* console.log('Edit button clicked for ID: ' + id);*/
                        });
                    } else {
                        console.error("No data found or data is not an array");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        }



    </script>

</main>

