
@{
    ViewData["Title"] = "Validate_By_Approver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<main id="js-page-content" role="main" class="page-content">



    <div class="row">

        <div class="col-xl-12">


            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Validate Employee Loan Process Details<span class="fw-300">
                        </span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        @*<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>*@
                    </div>
                </div>
                <form id="Validate_Loan_Request">
                    <div class="panel-container show">

                        <div class="frame-wrap">
                            <div class="panel-content">



                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body">

                                    <fieldset class="form-group border p-2">
                                        <legend class="w-auto px-1" style="font-size: 13px;"><strong>Employee Information</strong></legend>
                                        <div class="form-row">

                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Name</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtname" autocomplete="off" name="txtname" disabled="disabled">

                                            </div>


                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Employee Code</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtempcode" autocomplete="off" name="txtempcode" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Department</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtdepartment" autocomplete="off" name="txtdepartment" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Group Company</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtbusinessvertical" autocomplete="off" name="txtbusinessvertical" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Business Uunit</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtdivision" autocomplete="off" name="txtdivision" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Dept. Cost Center</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtplant" autocomplete="off" name="txtplant" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Date Of Joining</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtdatejoin" autocomplete="off" name="txtdatejoin" disabled="disabled">

                                            </div>
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Deviation</label><span class="text-danger">*</span>
                                                <select class="form-control input-sm" id="dbdeviation" name="dbdeviation" disabled="disabled">

                                                    <option value="">Select</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-row">

                                            <!--<div class="col-md-3 mb-2">

    <label for="validationCustom02">Salary Drawn (<b>Please enter numbers only</b>)</label><span class="text-danger">*</span>-->
                                            @*<input type="text" class="form-control input-sm" id="txtsalarydown" autocomplete="off" name="txtsalarydown">*@
                                            <!--<input type="text"
               class="form-control input-sm"
               id="txtsalarydown"
               name="txtsalarydown"
               autocomplete="off"
               inputmode="numeric"
               pattern="^[0-9]+$"
               placeholder="Enter salary"
               title="Please enter numbers only"
               oninput="convertToWordssalarydown(this.value)" disabled="disabled">
        <small id="amountWordssalarydown" style="font-weight:600;color:#555;"></small>
    </div>


    <div class="col-md-3 mb-2">

        <label for="validationCustom02">Rupess (<b>Please enter numbers only</b>)</label><span class="text-danger">*</span>-->
                                            @*<input type="text" class="form-control input-sm" id="txtrupess" autocomplete="off" name="txtrupess">*@
                                            <!--<input type="text"
               class="form-control input-sm"
               id="txtrupess"
               name="txtrupess"
               autocomplete="off"
               inputmode="numeric"
               pattern="^[0-9]+$"
               placeholder="Enter amount"
               title="Please enter numbers only"
               oninput="convertToWords(this.value)" disabled="disabled">
        <small id="amountWords" style="font-weight:600;color:#555;"></small>
    </div>-->


                                            <div class="col-md-2 mb-2">

                                                <label for="validationCustom02">Number of installments</label><span class="text-danger">*</span>
                                                <input type="text"
                                                       class="form-control input-sm"
                                                       id="txtinstallment"
                                                       name="txtinstallment"
                                                    
                                                       min="10"
                                                       max="20"
                                                       required
                                                       autocomplete="off" disabled="disabled">
                                            </div>
                                            <div class="col-md-4 mb-2">

                                                <label for="validationCustom02">Purpose</label><span class="text-danger">*</span>
                                                <textarea type="text" class="form-control input-sm" rows="1" id="tatpurpose" autocomplete="off" name="tatpurpose" disabled="disabled"></textarea>

                                            </div>
                                            <div class="col-md-4 mb-2">

                                                <label for="validationCustom02">Purpose Description</label><span class="text-danger">*</span>
                                                <textarea type="text" class="form-control input-sm" rows="1" id="txtpurposedes" autocomplete="off" name="txtpurposedes" disabled="disabled"></textarea>

                                            </div>
                                            
                                            <div class="col-md-2 mb-2">

                                                <label for="validationCustom02">Attachment </label><span class="text-danger">*</span><br />
                                                <a href='#' class='badge badge-info' id="donloaddoc" name="donloaddoc">
                                                    <i class='typcn typcn-eye'></i>Doc. Download
                                                </a>
                                                @*<div id="previewContainer" style="display: none;  border: 1px solid #ccc; background: white; padding: 10px; z-index: 10;">
                                                    <img id="previewImage" src="" alt="Image preview" width="150" />
                                                </div>*@
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Guarantor 1</label><span class="text-danger">*</span>
                                                <input type="text" class="form-control input-sm" id="txtgarantee1" autocomplete="off" name="txtgarantee1" disabled="disabled">

                                            </div>

                                            <div class="col-md-3 mb-2">

                                                <label for="validationCustom02">Guarantor 2</label><span class="text-danger">*</span>

                                                <input type="text" class="form-control input-sm" id="txtgarantee2" autocomplete="off" name="txtgarantee2" disabled="disabled">

                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group border p-3">
                                        <legend class="w-auto px-2" style="font-size:13px;">
                                            <strong>Tracking History</strong>
                                        </legend>



                                        <table id="example2" class="table table-bordered table-hover table-striped w-100">
                                            <thead>
                                                <tr>
                                                </tr>
                                            </thead>

                                        </table>



                                    </fieldset>

                                    <fieldset class="form-group border p-3">
                                        <legend class="w-auto px-2" style="font-size:13px;">
                                            <strong>Action</strong>
                                        </legend>

                                        <div class="form-row align-items-center">

                                            <!-- Action Selection -->
                                            <!-- Remark -->
                                            <div class="col-md-6 mb-2">
                                                <label>Remark</label>
                                                <textarea id="txtremark" name="txtremark" class="form-control"></textarea>
                                            </div>



                                            <div class="mt-3">
                                                <button type="button" class="btn btn-outline-success" id="btnsubmithrloanapprove" name="btnsubmithrloanapprove"
                                                        onclick="Loan_Validate_Approve('Approved')">
                                                    Approve
                                                </button>

                                                <button type="button" class="btn btn-outline-warning" id="btnsubmithrloansentback" name="btnsubmithrloansentback"
                                                        onclick="Loan_Validate_Approve('SentBack')">
                                                    Sent Back
                                                </button>

                                                <button type="button" class="btn btn-outline-danger" id="btnsubmithrloanreject" name="btnsubmithrloanreject"
                                                        onclick="Loan_Validate_Approve('Rejected')">
                                                    Reject
                                                </button>

                                            </div>
                                            <input type="hidden" id="txtuniqueid" name="txtuniqueid" />
                                        </div>


                                    </fieldset>

                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
            <div class="spinner" style="display:none">
                <div class="center-div">

                    <img src="~/img/1amw (1).gif" width="200">

                </div>
            </div>

        </div>
    </div>

    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/Action_JS/loanjs.js"></script>

    <script type='text/javascript'>


        var totalList = [];
        var iterms = "";
        $(document).ready(function () {
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            var cid = params['id'];
            $('.select2').select2();


            Bindloanhistory(cid);
            bindLoanDetails(cid);

            $("#txtuniqueid").val(cid);

        });





        const deviation = document.getElementById("dbdeviation");
        const installments = document.getElementById("txtinstallment");


        function Bindloanhistory(Eid) {
            /* $("#txtuniqueidhistoty").text(fullname);*/
            $('#modal-Tracking_history').modal('show');
            $.ajax({
                url: "/Loan/get_tracking_loan_records_history",
                type: "GET",
                data: { uniqueid: "" + Eid + "" },
                async: false,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    /*     console.log(data); // Log the data to inspect*/





                    if (Array.isArray(data) && data.length > 0) {

                        var latestStatus = data[0].cstatus; // because sorted desc

                        // 🔹 Show / Hide Sent Back button
                        //if (["Revert Back By Guarantor 1", "Revert Back By Guarantor 2", "Approved by Guarantor 1", "Approved by Guarantor 2", "Loan Request Initiated"].includes(latestStatus)) {
                        //    $("#btnsentback").show();
                        //} else {
                        //    $("#btnsentback").hide();
                        //}
                        // Destroy the existing DataTable instance if it exists
                        if ($.fn.DataTable.isDataTable('#example2')) {
                            $('#example2').DataTable().clear().destroy();
                        }
                        // Initialize DataTable with new data
                        $('#example2').DataTable({
                            responsive: true,
                            processing: true,
                            async: true,
                            data: data,
                            order: [[4, 'desc']],

                            columns: [
                                { data: 'actionid', title: 'ID', width: '5%' },
                                { data: 'actionby', title: 'Action By', width: '20%' },
                                { data: 'peningon', title: 'Pending On', width: '20%' },
                                { data: 'cstatus', title: 'Action Status', width: '30%' },

                                { data: 'actiondate', title: 'Action Date', width: '30%', type: 'date' },
                                { data: 'remark', title: 'Remark', width: '40%' }

                            ]

                        });

                        // Handle click event on "Edit" link
                        $('#example2').on('click', '.edit-link', function (e) {
                            e.preventDefault();

                            // Replace the following line with your edit logic, e.g., opening a modal or redirecting
                            /* console.log('Edit button clicked for ID: ' + id);*/
                        });
                    } else {
                        console.error("No data found or data is not an array");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        }
        // Trigger download on click
        document.getElementById('donloaddoc')
            .addEventListener('click', function (e) {

                e.preventDefault();

                const imageName = this.getAttribute('data-imagename');

                if (!imageName) {
                    alert("No file available");
                    return;
                }

                // Direct download URL (simplest & best way)
                window.location.href = '/Loan/DownloadFile?ImageName=' + encodeURIComponent(imageName);
            });


        function bindLoanDetails(uniqueId) {
            $.ajax({

                url: "/Loan/get_loandetails_details_for_validate",
                type: 'GET',
                data: { uniqueid: uniqueId },
                dataType: 'json',
                async: false,
                success: function (response) {

                    if (response.length > 0) {
                        var data = response[0];

                        $('#txtempcode').val(data.ecode);
                        $('#txtsalarydown').val(data.salarydown);

                        $('#txtdepartment').val(data.department);
                        $('#txtdatejoin').val(data.doj);

                        $('#txtrupess').val(data.rupess);
                        $('#txtinstallment').val(data.installments);
                        $('#txtgarantee1').val(data.garantees1);
                        $('#txtgarantee2').val(data.garantees2);
                        $('#tatpurpose').val(data.purpose);
                        $('#dbdeviation').val(data.deviation);

                        $('#txtname').val(data.fullname);
                        $('#txtbusinessvertical').val(data.businessvertical);
                        $('#txtdivision').val(data.division);
                        $('#txtplant').val(data.plant);
                        $('#txtpurposedes').val(data.purposedesc);

                        

                        document.getElementById('donloaddoc')
                            .setAttribute('data-imagename', data.attcahement);
                    }
                    else {
                        alert('No loan details found.');
                    }
                },
                error: function () {
                    alert('Error while fetching loan details.');
                }
            });
        }

        /* -------------------- VICE VERSA FILTER LOGIC -------------------- */
        function filterDropdowns() {

            var val1 = $("#dbgarantee1").val();
            var val2 = $("#dbgarantee2").val();

            // Reset all options
            $("#dbgarantee1 option, #dbgarantee2 option")
                .show()
                .prop("disabled", false);

            // Hide dbgarantee1 selection from dbgarantee2
            if (val1 !== "") {
                $("#dbgarantee2 option[value='" + val1 + "']")
                    .hide()
                    .prop("disabled", true);
            }

            // Hide dbgarantee2 selection from dbgarantee1
            if (val2 !== "") {
                $("#dbgarantee1 option[value='" + val2 + "']")
                    .hide()
                    .prop("disabled", true);
            }

            // Prevent same value selected in both
            if (val1 !== "" && val1 === val2) {
                $("#dbgarantee2").val("");
            }
        }

    </script>




</main>

