
@{
    ViewData["Title"] = "Bind_Data_For_EmailCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>/* Custom CSS to add space between the page size dropdown and the table */

/* Add margin to the page size selector dropdown */
.dataTables_length {
    margin-bottom: 10px; /* Adjust space between the dropdown and table */
}

/* Optional: Adjust the margin between other controls like search box and buttons */
.dataTables_filter {
    margin-left: 20px; /* Adjust space between search box and page size dropdown */
}

/* You can also adjust the space between the export buttons */
    .dt-buttons {
        margin-left: 5px;
        margin-bottom: 10px;
        
    }

/* Add space between pagination controls and table */
.dataTables_paginate {
    margin-top: 20px; /* Adjust space between table and pagination */
}
</style>
<link href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<main id="js-page-content" role="main" class="page-content">
    <div class="row">

        <div class="col-xl-12">
            <div id="panel-2" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Bind Prejoining Employee<span class="fw-300"><i>Details</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>




                <div class="panel-container show">
                    <div class="panel-content">

                        <div class="tab-pane" id="tab-events" role="tabpanel">
                            <div class="d-flex flex-column h-100">
                                <div class="h-auto">
                                    <table id="example1" class="table table-bordered table-hover table-striped w-100">
                                        <thead>
                                            <tr>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <div class="modal fade" id="modal-Tracking">
                <div class="modal-dialog modal-lg modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Employee Details (<strong><span id="txtuniqueid" name="txtuniqueid"></span></strong>)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="js-updatemnotjoined">
                                <div class="frame-wrap">
                                    <div class="panel-content">



                                        <!-- /.box-header -->
                                        <!-- form start -->

                                        <div class="box-body">
                                            <div class="form-row">

                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">First Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="Firstname" autocomplete="off" name="Firstname" readonly="readonly">

                                                </div>
                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Middle Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="middlename" autocomplete="off" name="middlename" readonly="readonly">

                                                </div>


                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Last Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="lastname" autocomplete="off" name="lastname" readonly="readonly">

                                                </div>
                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Group Company</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtgroupname" autocomplete="off" name="txtgroupname" readonly="readonly">

                                                </div>
                                            </div>
                                            <div class="form-row">

                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Functional Area(Dept)</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtfunctionalareadept" autocomplete="off" name="txtfunctionalareadept" readonly="readonly">

                                                </div>
                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Department</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtdeprtment" autocomplete="off" name="txtdeprtment" readonly="readonly">

                                                </div>


                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Designation</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtdesignation" autocomplete="off" name="txtdesignation" readonly="readonly">

                                                </div>
                                                <div class="col-md-3 mb-2">

                                                    <label for="validationCustom02">Grade</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtgrade" autocomplete="off" name="txtgrade" readonly="readonly">

                                                </div>
                                            </div>
                                            <div class="form-row">

                                                <div class="col-md-6 mb-2">

                                                    <label for="validationCustom02">Remark</label><span class="text-danger">*</span>
                                                    <textarea type="text" class="form-control input-sm" id="txtremark" rows="1" name="txtremark" placeholder="Remark" autocomplete="off"></textarea>

                                                </div>
                                                <div class="col-md-3 mb-2">
                                                    <br />
                                                    <button type="submit" class="btn btn-primary" onclick="return  Update_By_HR_Emp_NotJoined()" id="addicdnotjoined">Submit</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modal-Trackingnotjoining">
                <div class="modal-dialog modal-lg modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Employee Details (<strong><span id="txtextenduniqueid" name="txtextenduniqueid"></span></strong>)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="js-updateextenddoj">
                                <div class="frame-wrap">
                                    <div class="panel-content">



                                        <!-- /.box-header -->
                                        <!-- form start -->

                                        <div class="box-body">
                                            <div class="form-row">

                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">First Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendFirstname" autocomplete="off" name="txtextendFirstname" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Middle Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendmiddlename" autocomplete="off" name="txtextendmiddlename" readonly="readonly">

                                                </div>


                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Last Name</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendlastname" autocomplete="off" name="txtextendlastname" readonly="readonly">

                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Group Company</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendtxtgroupname" autocomplete="off" name="txtextendtxtgroupname" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Functional Area(Dept)</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendfunctionalareadept" autocomplete="off" name="txtextendfunctionalareadept" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Department</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextenddeprtment" autocomplete="off" name="txtextenddeprtment" readonly="readonly">

                                                </div>


                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Designation</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendtdesignation" autocomplete="off" name="txtextenddesignation" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Grade</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextendtgrade" autocomplete="off" name="txtextendgrade" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Darwin DOJ</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtextenddbdoj" autocomplete="off" name="txtextenddbdoj" readonly="readonly">

                                                </div>
                                                <div class="col-md-4 mb-2">

                                                    <label for="validationCustom02">Confirm DOJ</label><span class="text-danger">*</span>
                                                    <input type="text" class="form-control input-sm" id="txtconfrimjoiningdate" autocomplete="off" name="txtconfrimjoiningdate" onchange="getdaterecords()">

                                                </div>
                                                <div class="col-md-5 mb-2">

                                                    <label for="validationCustom02">Remark</label><span class="text-danger">*</span>
                                                    <textarea type="text" class="form-control input-sm" id="txtextendremark" rows="1" name="txtextendremark" placeholder="Remark" autocomplete="off"></textarea>

                                                </div>

                                                <div class="col-md-2 mb-2">
                                                    <br />
                                                    <button type="submit" class="btn btn-primary" onclick="return  Update_By_HR_Emp_extenddoj()" id="addicdnotjoined">Submit</button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>



            @*//-------------------------------------------------Model Popup-----------------------for Tracking History=-----------------*@


            <div class="modal fade" id="modal-Tracking_history">
                <div class="modal-dialog modal-lg modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Tracking History(<strong><span id="txtuniqueidhistoty" name="txtuniqueidhistoty"></span></strong>)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="js-emailremove_updatebyinfra">
                                <div class="frame-wrap">
                                    <div class="panel-container show">
                                        <div class="panel-content">

                                            <div class="tab-pane" id="tab-events" role="tabpanel">
                                                <div class="d-flex flex-column h-100">
                                                    <div class="h-auto">
                                                        <table id="example2" class="table table-bordered table-hover table-striped w-100">
                                                            <thead>
                                                                <tr>
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            @*----------------------------------------------------End Popap Infra Team Details ------------------------------------------------------*@

        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/Action_JS/JS.js"></script>

    <script type='text/javascript'>
        var date = new Date();
        var year = date.getFullYear(); //get year
        var month = date.getMonth(); //get month
        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }
        var runDatePicker = function () {

          
            $("#txtconfrimjoiningdate").datepicker({
                dateFormat: 'dd-mm-yy' // Correct format for jQuery UI datepicker
               
            });

        }

        var totalList = [];
        var iterms = "";
        $(document).ready(function () {
            const urlSearchParams = new URLSearchParams(window.location.search);
            const params = Object.fromEntries(urlSearchParams.entries());
            var cid = params['id'];

            BindEmpdetailsforemail(cid);
            runDatePicker();

        });
        //------------------Bind Tracking History ---------------------------------------------


        function BindEmptrackinghistory(Eid, fullname) {
            $("#txtuniqueidhistoty").text(fullname);
            $('#modal-Tracking_history').modal('show');
            $.ajax({
                url: "/DB_View/get_tracking_emp_records_history",
                type: "GET",
                data: { UniqueID: "" + Eid + "", Requesttype:'Email Creation' },

                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    /*     console.log(data); // Log the data to inspect*/

                    if (Array.isArray(data) && data.length > 0) {
                        // Destroy the existing DataTable instance if it exists
                        if ($.fn.DataTable.isDataTable('#example2')) {
                            $('#example2').DataTable().clear().destroy();
                        }
                        // Initialize DataTable with new data
                        $('#example2').DataTable({
                            responsive: true,
                            processing: true,
                            async: true,
                            data: data,
                            order: [[4, 'desc']],
                           
                            columns: [
                                
                                { data: 'actionby', title: 'Action By', width: '20%' },
                                { data: 'peningon', title: 'Pending On', width: '20%' },
                                { data: 'cstatus', title: 'Action Status', width: '10%' },
                                { data: 'requestfor', title: 'Request For', width: '10%' },
                                { data: 'actiondate', title: 'Action Date', width: '10%', type: 'datetime' },
                                { data: 'remark', title: 'Remark', width: '20%' }

                            ]

                        });

                        // Handle click event on "Edit" link
                        $('#example2').on('click', '.edit-link', function (e) {
                            e.preventDefault();
                          
                            // Replace the following line with your edit logic, e.g., opening a modal or redirecting
                            /* console.log('Edit button clicked for ID: ' + id);*/
                        });
                    } else {
                        console.error("No data found or data is not an array");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        }

        //----------------------------------Bind Tracking History -------------------------------------------------
        function getdaterecords() {
            // Get the values from the input fields
            var date1 = $("#txtextenddbdoj").val();  // The first date
            var date2 = $("#txtconfrimjoiningdate").val();  // The second date

            // Convert the dates to Date objects
            var date1Parts = date1.split('-');  // Split the date (dd-mm-yy) into day, month, year
            var date2Parts = date2.split('-');  // Same for the second date

            // Format them as YYYY-MM-DD for proper comparison
            var formattedDate1 = new Date(date1Parts[2], date1Parts[1] - 1, date1Parts[0]); // new Date(year, month-1, day)
            var formattedDate2 = new Date(date2Parts[2], date2Parts[1] - 1, date2Parts[0]);

            // Check if the second date is earlier or not after the first date
            if (formattedDate2 <= formattedDate1) {
                alert("Please select a date after Darwin DOJ.");
                $("#txtconfrimjoiningdate").val('');  // Clear the input if invalid
            }
        }
        function Redirect(id, Ctatus) {
           
                window.location.href = '/Email_Request/HR_Validate_New_Request?id=' + id;
            
        }
        function Bind_Records_For_NotJoined(id) {
         
            $('#modal-Tracking').modal('show');
            $.ajax({

                url: "/Email_Request/HR_Validate",
                type: "GET",
                data: { UniqueID: "" + id + "" },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {

                    var build_table = '';
                    for (var index = 0; index < data.length; index++) {
                     

                        $("#Firstname").val(data[index].fname);
                        $("#middlename").val(data[index].mname);
                        $("#lastname").val(data[index].lname);
                        $("#txtdeprtment").val(data[index].department);
                        $("#txtdesignation").val(data[index].deisgnation);
                        $("#txtgrade").val(data[index].level_Grade);
                        
                        $("#txtuniqueid").text(data[index].userUniqueID);
                        $("#txtgroupname").val(data[index].group_company);
                        $("#txtfunctionalareadept").val(data[index].department_cost_center_name);
                    


                    }
                }
            });

        }

        function Bind_Records_For_ExtendDOJ(id) {

            $('#modal-Trackingnotjoining').modal('show');
            $.ajax({

                url: "/Email_Request/HR_Validate",
                type: "GET",
                data: { UniqueID: "" + id + "" },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {

                    var build_table = '';
                    for (var index = 0; index < data.length; index++) {


                        $("#txtextendFirstname").val(data[index].fname);
                        $("#txtextendmiddlename").val(data[index].mname);
                        $("#txtextendlastname").val(data[index].lname);
                        $("#txtextenddeprtment").val(data[index].department);
                        $("#txtextendtdesignation").val(data[index].deisgnation);
                        $("#txtextendtgrade").val(data[index].level_Grade);
                        $("#txtextenduniqueid").text(data[index].userUniqueID);
                        $("#txtextenddbdoj").val(data[index].date_of_joining);
                      
                        
                        $("#txtextendtxtgroupname").val(data[index].group_company);
                        $("#txtextendfunctionalareadept").val(data[index].department_cost_center_name);



                    }
                }
            });

        }

        function BindEmpdetailsforemail(paageCid) {
            $.ajax({
                url: "/Email_Request/get_pending_employee_emailid_creation",
                type: "GET",
                data: {
                    UniqueID: paageCid
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (Array.isArray(data) && data.length > 0) {
                        // Destroy the existing DataTable instance if it exists
                        if ($.fn.DataTable.isDataTable('#example1')) {
                            $('#example1').DataTable().clear().destroy();
                        }
                        // Initialize DataTable with new data
                        $('#example1').DataTable({
                            responsive: true,
                            processing: true,
                            data: data,
                            order: [[4, 'desc']],
                            columns: [
                                {
                                    data: null,
                                    title: 'Action',
                                    render: function (data, type, row) {
                                        // Ensure UserUniqueID exists in the row data
                                        if (row.userUniqueID) {
                                            return `
                                       <a style="text-decoration: none; color:black;"
                                           href="#"
                                           onclick='Redirect("${row.userUniqueID}", "${row.cStatus}");'>
                                            <span class="badge badge-pill badge-success">Validate</span>
                                        </a>

                                        <a style="text-decoration: none; color:black;" 
                                           href="#"     onclick='Bind_Records_For_NotJoined("${row.userUniqueID}");'>
                                          
                                         <span class="badge badge-pill badge-danger ">Not Joined</span>
                                        </a> `;
                                        } else {
                                            return '<span></span>'; // Fallback if UserUniqueID is not present
                                        }
                                    }
                                },
                                { data: 'fname', title: 'First Name' },
                                { data: 'mname', title: 'Middle Name' },
                                { data: 'lname', title: 'Last Name' },
                                { data: 'date_of_joining', title: 'Date of Joining', type: 'date' },
                                { data: 'group_company', title: 'Group Company' },
                                { data: 'department_cost_center_name', title: 'Cost Center Name' },
                                
                                { data: 'functional_area_dept', title: 'Functional Area(Dept)' },
                                { data: 'level_Grade', title: 'Grade' },
                               
                                { data: 'cStatus', title: 'Status' },
                                { data: 'direct_manager_name', title: 'RM' },
                                { data: 'hrbp_name', title: 'HRBP Name' },
                                { data: 'office_location', title: 'Office Location' },
                                {
                                    data: null,
                                    title: 'Tracking',

                                    render: function (data, type, row) {
                                        // Ensure UserUniqueID exists in the row data
                                        if (row.userUniqueID) {
                                            return `
                                       <a style="text-decoration: none; color:black;"
                                           href="#"
                                           onclick='BindEmptrackinghistory("${row.user_id}", "${row.fname + '' + row.mname + ' ' + row.lname}");'>
                                            <span class="badge badge-pill badge-success">View</span>
                                        </a>`;
                                        } else {
                                            return '<span></span>'; // Fallback if UserUniqueID is not present
                                        }

                                       
                                    }
                                },
                            ],
                            
                            dom: 'Blfrtip',  // 'l' is kept to show the page size dropdown, 'p' is for pagination

                            buttons: [
                                {
                                    extend: 'excelHtml5',
                                    className: 'btn-outline-success btn-sm',  // Add custom classes to the Excel button
                                    text: 'Export to Excel'
                                },
                                {
                                    extend: 'csvHtml5',
                                    className: 'btn-outline-primary btn-sm',  // Add custom classes to the CSV button
                                    text: 'Export to CSV'
                                },
                                {
                                    extend: 'copyHtml5',
                                    className: 'btn-outline-success btn-sm',  // Add custom classes to the Copy button
                                    text: 'Copy to Clipboard'
                                }
                            ],

                        });

                        // Handle click event on "Edit" link
                        $('#example1').on('click', '.edit-link', function (e) {
                            e.preventDefault();
                            var id = $(this).data('id'); // Correct data attribute name

                            // Redirect to the new URL with the unique ID
                        });
                    } else {
                        console.error("No data found or data is not an array");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: ", status, error);
                }
            });
        }

        // Example function for the Edit button action
        function EditEmployee(userID) {
            // Implement the edit logic here, e.g., redirect to an edit page or open a modal
            console.log("Edit employee with ID:", userID);
        }





    </script>

</main>
